Source: ros-noetic-laptop-battery-monitor
Section: misc
Priority: optional
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-diagnostic-msgs, ros-noetic-sensor-msgs
Homepage: http://ros.org/wiki/laptop_battery_monitor
Standards-Version: 3.9.2

Package: ros-noetic-laptop-battery-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-diagnostic-msgs, ros-noetic-rospy, ros-noetic-sensor-msgs
Description: Simple script to check battery status
