Source: ros-melodic-libsensors-monitor
Section: misc
Priority: optional
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), libsensors4-dev, ros-melodic-catkin, ros-melodic-diagnostic-updater, ros-melodic-roscpp
Homepage: http://ros.org/wiki/libsensors_monitor
Standards-Version: 3.9.2

Package: ros-melodic-libsensors-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsensors4-dev, ros-melodic-diagnostic-updater, ros-melodic-roscpp
Description: A ROS node for using libsensors to provide diagnostics information about the sensors on a computer system.
