Source: ros-kinetic-laptop-battery-monitor
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-diagnostic-msgs, ros-kinetic-sensor-msgs
Homepage: http://ros.org/wiki/laptop_battery_monitor
Standards-Version: 3.9.2

Package: ros-kinetic-laptop-battery-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-diagnostic-msgs, ros-kinetic-rospy, ros-kinetic-sensor-msgs
Description: Simple script to check battery status
